<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.cflwork.dao.ActivityDao">

    <select id="get" resultType="top.cflwork.vo.ActivityVo">
        select `id`,`title`,`location`,`people_num`,`content`,`status`,`start_time`,`end_time`,`create_time` from
        sys_activity where id=#{id}
    </select>

    <select id="list" resultType="top.cflwork.vo.ActivityVo">
        select `id`,`title`,`location`,`people_num`,`content`,`status`,`start_time`,`end_time`,`create_time` from
        sys_activity
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="location != null and location != ''">and location = #{location}</if>
            <if test="peopleNum != null and peopleNum != ''">and people_num = #{peopleNum}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="pager.sort != null and pager.order != null">
                order by ${pager.sort} ${pager.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="pager.pageIndex != null and pager.pageSize != null">
            limit #{pager.pageIndex}, #{pager.pageSize}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(id) from sys_activity
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="location != null and location != ''">and location = #{location}</if>
            <if test="peopleNum != null and peopleNum != ''">and people_num = #{peopleNum}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="top.cflwork.vo.ActivityVo">
		insert into sys_activity
		(
			`id`, 
			`title`, 
			`location`, 
			`people_num`, 
			`content`, 
			`status`, 
			`start_time`, 
			`end_time`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{title}, 
			#{location}, 
			#{peopleNum}, 
			#{content}, 
			#{status}, 
			#{startTime}, 
			#{endTime}, 
			now()
		)
	</insert>

    <insert id="batchSave" parameterType="top.cflwork.vo.ActivityVo">
        insert into sys_activity
        (
        `id`,
        `title`,
        `location`,
        `people_num`,
        `content`,
        `status`,
        `start_time`,
        `end_time`,
        `create_time`
        )
        values
        <foreach collection="list" item="activityVo" separator=",">
            (
            #{activityVo.id},
            #{activityVo.title},
            #{activityVo.location},
            #{activityVo.peopleNum},
            #{activityVo.content},
            #{activityVo.status},
            #{activityVo.startTime},
            #{activityVo.endTime},
            #{activityVo.createTime}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="top.cflwork.vo.ActivityVo">
        update sys_activity
        <set>
            <if test="title != null">`title` = #{title},</if>
            <if test="location != null">`location` = #{location},</if>
            <if test="peopleNum != null">`people_num` = #{peopleNum},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="status != null">`status` = #{status},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
        delete from sys_activity where id=#{id}
    </delete>

    <delete id="batchRemove">
        delete from sys_activity where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>