<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.cflwork.dao.BorrowDao">

	<select id="get" resultType="top.cflwork.vo.BorrowVo">
		select `id`,`cardno`,`loandate`,`retudate`,`title`,`callno`,`isbn`,`cirtype`,`renenum`,`create_time`,`read_user_id_in`,`book_id` from sys_borrow
        where id=#{id}
	</select>

	<select id="list" resultType="top.cflwork.vo.BorrowVo">
		select `id`,`cardno`,`loandate`,`retudate`,`title`,`callno`,`isbn`,`cirtype`,`renenum`,`create_time`,`read_user_id_in`,`book_id` from sys_borrow
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cardno != null and cardno != ''"> and cardno = #{cardno} </if>
		  		  <if test="loandate != null and loandate != ''"> and loandate = #{loandate} </if>
		  		  <if test="retudate != null and retudate != ''"> and retudate = #{retudate} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="callno != null and callno != ''"> and callno = #{callno} </if>
		  		  <if test="isbn != null and isbn != ''"> and isbn = #{isbn} </if>
		  		  <if test="cirtype != null and cirtype != ''"> and cirtype = #{cirtype} </if>
		  		  <if test="renenum != null and renenum != ''"> and renenum = #{renenum} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="readUserIdIn != null and readUserIdIn != ''"> and read_user_id_in = #{readUserIdIn} </if>
		  		  <if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
		  		</where>
        <choose>
            <when test="pager.sort != null and pager.order != null">
                order by ${pager.sort} ${pager.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="pager!=null and  pager.paging">
			<if test="pager.pageIndex != null and pager.pageSize != null">
				limit #{pager.pageIndex}, #{pager.pageSize}
			</if>
		</if>
	</select>
	
 	<select id="count" resultType="long">
		select count(id) from sys_borrow
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="cardno != null and cardno != ''"> and cardno = #{cardno} </if>
		  		  <if test="loandate != null and loandate != ''"> and loandate = #{loandate} </if>
		  		  <if test="retudate != null and retudate != ''"> and retudate = #{retudate} </if>
		  		  <if test="title != null and title != ''"> and title = #{title} </if>
		  		  <if test="callno != null and callno != ''"> and callno = #{callno} </if>
		  		  <if test="isbn != null and isbn != ''"> and isbn = #{isbn} </if>
		  		  <if test="cirtype != null and cirtype != ''"> and cirtype = #{cirtype} </if>
		  		  <if test="renenum != null and renenum != ''"> and renenum = #{renenum} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="readUserIdIn != null and readUserIdIn != ''"> and read_user_id_in = #{readUserIdIn} </if>
		  		  <if test="bookId != null and bookId != ''"> and book_id = #{bookId} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="top.cflwork.vo.BorrowVo">
		insert into sys_borrow
		(
			`id`, 
			`cardno`, 
			`loandate`, 
			`retudate`, 
			`title`, 
			`callno`, 
			`isbn`, 
			`cirtype`, 
			`renenum`, 
			`create_time`, 
			`read_user_id_in`, 
			`book_id`
		)
		values
		(
			#{id}, 
			#{cardno}, 
			#{loandate}, 
			#{retudate}, 
			#{title}, 
			#{callno}, 
			#{isbn}, 
			#{cirtype}, 
			#{renenum}, 
			#{createTime}, 
			#{readUserIdIn}, 
			#{bookId}
		)
	</insert>

    <insert id="batchSave" parameterType="top.cflwork.vo.BorrowVo">
        insert into sys_borrow
        (
					                `id`, 
								                `cardno`, 
								                `loandate`, 
								                `retudate`, 
								                `title`, 
								                `callno`, 
								                `isbn`, 
								                `cirtype`, 
								                `renenum`, 
								                `create_time`, 
								                `read_user_id_in`, 
								                `book_id`
					        )
        values
        <foreach collection="list" item="borrowVo" separator=",">
			(
												#{borrowVo.id}, 
																#{borrowVo.cardno}, 
																#{borrowVo.loandate}, 
																#{borrowVo.retudate}, 
																#{borrowVo.title}, 
																#{borrowVo.callno}, 
																#{borrowVo.isbn}, 
																#{borrowVo.cirtype}, 
																#{borrowVo.renenum}, 
																#{borrowVo.createTime}, 
																#{borrowVo.readUserIdIn}, 
																#{borrowVo.bookId}
										)
		</foreach>
    </insert>

	<update id="update" parameterType="top.cflwork.vo.BorrowVo">
		update sys_borrow 
		<set>
			<if test="cardno != null">`cardno` = #{cardno}, </if>
			<if test="loandate != null">`loandate` = #{loandate}, </if>
			<if test="retudate != null">`retudate` = #{retudate}, </if>
			<if test="title != null">`title` = #{title}, </if>
			<if test="callno != null">`callno` = #{callno}, </if>
			<if test="isbn != null">`isbn` = #{isbn}, </if>
			<if test="cirtype != null">`cirtype` = #{cirtype}, </if>
			<if test="renenum != null">`renenum` = #{renenum}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="readUserIdIn != null">`read_user_id_in` = #{readUserIdIn}, </if>
			<if test="bookId != null">`book_id` = #{bookId}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from sys_borrow where id=#{id}

	</delete>
	
	<delete id="batchRemove">
		delete from sys_borrow where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>