<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.cflwork.dao.CourierOrderDao">

    <select id="get" resultType="top.cflwork.vo.CourierOrderVo">
		select `id`,`read_user_id`,`read_user_name`,`read_user_card_num`,`courier_phone`,`courier_idcard`,`courier_adress`,`create_time`,`library_id` from sys_courier_order
        where id=#{id}
	</select>

    <select id="list" resultType="top.cflwork.vo.CourierOrderVo">
        select
        `id`,`read_user_id`,`read_user_name`,`read_user_card_num`,`courier_phone`,`courier_idcard`,`courier_adress`,`create_time`
        from sys_courier_order
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="readUserId != null and readUserId != ''">and read_user_id = #{readUserId}</if>
            <if test="readUserName != null and readUserName != ''">and read_user_name like concat('%${readUserName}%')</if>
            <if test="readUserCardNum != null and readUserCardNum != ''">and read_user_card_num like concat('%${readUserCardNum}%')</if>
            <if test="courierPhone != null and courierPhone != ''">and courier_phone  like concat('%${courierPhone}%')</if>
            <if test="courierIdcard != null and courierIdcard != ''">and courier_idcard  like concat('%${courierIdcard}%')</if>
            <if test="courierAdress != null and courierAdress != ''">and courier_adress  like concat('%${courierAdress}%')</if>
            <if test="createTime != null and endTime != null">and create_time between  #{createTime} and #{endTime}</if>
            <if test="libraryId != null and libraryId != ''">and library_id = #{libraryId}</if>
        </where>
        <choose>
            <when test="pager.sort != null and pager.order != null">
                order by ${pager.sort} ${pager.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="pager.pageIndex != null and pager.pageSize != null">
            limit #{pager.pageIndex}, #{pager.pageSize}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(id) from sys_courier_order
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="readUserId != null and readUserId != ''">and read_user_id = #{readUserId}</if>
            <if test="readUserName != null and readUserName != ''">and read_user_name like concat('%${readUserName}%')</if>
            <if test="readUserCardNum != null and readUserCardNum != ''">and read_user_card_num like concat('%${readUserCardNum}%')</if>
            <if test="courierPhone != null and courierPhone != ''">and courier_phone  like concat('%${courierPhone}%')</if>
            <if test="courierIdcard != null and courierIdcard != ''">and courier_idcard  like concat('%${courierIdcard}%')</if>
            <if test="courierAdress != null and courierAdress != ''">and courier_adress  like concat('%${courierAdress}%')</if>
            <if test="createTime != null and endTime != null">and create_time between  #{createTime} and #{endTime}</if>
            <if test="libraryId != null and libraryId != ''">and library_id = #{libraryId}</if>
        </where>
    </select>

    <insert id="save" parameterType="top.cflwork.vo.CourierOrderVo">
		insert into sys_courier_order
		(
			`id`, 
			`read_user_id`, 
			`read_user_name`, 
			`read_user_card_num`, 
			`courier_phone`, 
			`courier_idcard`, 
			`courier_adress`, 
			`create_time`,
			`library_id`
		)
		values
		(
			#{id}, 
			#{readUserId}, 
			#{readUserName}, 
			#{readUserCardNum}, 
			#{courierPhone}, 
			#{courierIdcard}, 
			#{courierAdress}, 
			#{createTime},
			#{libraryId}
		)
	</insert>

    <insert id="batchSave" parameterType="top.cflwork.vo.CourierOrderVo">
        insert into sys_courier_order
        (
        `id`,
        `read_user_id`,
        `read_user_name`,
        `read_user_card_num`,
        `courier_phone`,
        `courier_idcard`,
        `courier_adress`,
        `create_time`,
        `library_id`
        )
        values
        <foreach collection="list" item="courierOrderVo" separator=",">
            (
            #{courierOrderVo.id},
            #{courierOrderVo.readUserId},
            #{courierOrderVo.readUserName},
            #{courierOrderVo.readUserCardNum},
            #{courierOrderVo.courierPhone},
            #{courierOrderVo.courierIdcard},
            #{courierOrderVo.courierAdress},
            #{courierOrderVo.createTime},
            #{courierOrderVo.libraryId}
            )
        </foreach>
    </insert>

    <update id="update" parameterType="top.cflwork.vo.CourierOrderVo">
        update sys_courier_order
        <set>
            <if test="readUserId != null">`read_user_id` = #{readUserId},</if>
            <if test="readUserName != null">`read_user_name` = #{readUserName},</if>
            <if test="readUserCardNum != null">`read_user_card_num` = #{readUserCardNum},</if>
            <if test="courierPhone != null">`courier_phone` = #{courierPhone},</if>
            <if test="courierIdcard != null">`courier_idcard` = #{courierIdcard},</if>
            <if test="courierAdress != null">`courier_adress` = #{courierAdress},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="libraryId != null and libraryId != ''">and library_id = #{libraryId}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from sys_courier_order where id=#{id}

	</delete>

    <delete id="batchRemove">
        delete from sys_courier_order where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>