<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.cflwork.dao.ReadingRoomDao">

    <select id="get" resultType="top.cflwork.vo.ReadingRoomVo">
		select `id`,`title`,`location`,`people_num`,`content`,`is_active`,`create_time` from sys_reading_room
        where id=#{id}
	</select>

    <select id="list" resultType="top.cflwork.vo.ReadingRoomVo">
        select `id`,`title`,`location`,`people_num`,`content`,`is_active`,`create_time` from sys_reading_room
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="location != null and location != ''">and location = #{location}</if>
            <if test="peopleNum != null and peopleNum != ''">and people_num = #{peopleNum}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="isActive != null and isActive != ''">and is_active = #{isActive}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
        <choose>
            <when test="pager.sort != null and pager.order != null">
                order by ${pager.sort} ${pager.order}
            </when>
            <otherwise>
                order by id desc
            </otherwise>
        </choose>
        <if test="pager.pageIndex != null and pager.pageSize != null">
            limit #{pager.pageIndex}, #{pager.pageSize}
        </if>
    </select>

    <select id="count" resultType="long">
        select count(id) from sys_reading_room
        <where>
            <if test="id != null and id != ''">and id = #{id}</if>
            <if test="title != null and title != ''">and title = #{title}</if>
            <if test="location != null and location != ''">and location = #{location}</if>
            <if test="peopleNum != null and peopleNum != ''">and people_num = #{peopleNum}</if>
            <if test="content != null and content != ''">and content = #{content}</if>
            <if test="isActive != null and isActive != ''">and is_active = #{isActive}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
        </where>
    </select>

    <insert id="save" parameterType="top.cflwork.vo.ReadingRoomVo">
		insert into sys_reading_room
		(
			`id`, 
			`title`, 
			`location`, 
			`people_num`, 
			`content`, 
			`is_active`, 
			`create_time`
		)
		values
		(
			#{id}, 
			#{title}, 
			#{location}, 
			#{peopleNum}, 
			#{content}, 
			#{isActive}, 
			now()
		)
	</insert>

    <insert id="batchSave" parameterType="top.cflwork.vo.ReadingRoomVo">
        insert into sys_reading_room
        (
        `id`,
        `title`,
        `location`,
        `people_num`,
        `content`,
        `is_active`,
        `create_time`
        )
        values
        <foreach collection="list" item="readingRoomVo" separator=",">
            (
            #{readingRoomVo.id},
            #{readingRoomVo.title},
            #{readingRoomVo.location},
            #{readingRoomVo.peopleNum},
            #{readingRoomVo.content},
            #{readingRoomVo.isActive},
            now()
            )
        </foreach>
    </insert>

    <update id="update" parameterType="top.cflwork.vo.ReadingRoomVo">
        update sys_reading_room
        <set>
            <if test="title != null">`title` = #{title},</if>
            <if test="location != null">`location` = #{location},</if>
            <if test="peopleNum != null">`people_num` = #{peopleNum},</if>
            <if test="content != null">`content` = #{content},</if>
            <if test="isActive != null">`is_active` = #{isActive},</if>
            <if test="createTime != null">`create_time` = #{createTime}</if>
        </set>
        where id = #{id}
    </update>

    <delete id="remove">
		delete from sys_reading_room where id=#{id}

	</delete>

    <delete id="batchRemove">
        delete from sys_reading_room where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getReaddingRoom" resultType="top.cflwork.vo.Select2Vo">
      select id,title as 'text' from sys_reading_room
    </select>

</mapper>