package ${package}.dao;

import ${package}.vo.${className}Vo;
import java.util.List;
import java.util.Map;
import org.apache.ibatis.annotations.Mapper;
/**
 * ${comments}
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {

	${className}Vo get(${pk.attrType} ${pk.attrname});
	
	List<${className}Vo> list(Map<String,Object> map);
	
	long count(Map<String,Object> map);
	
	int save(${className}Vo ${classname});
	
	int update(${className}Vo ${classname});
	
	int remove(${pk.attrType} ${pk.columnName});
	
	int batchRemove(${pk.attrType}[] ${pk.attrname}s);

	int batchSave(List<${className}Vo> ${classname}List);
}
