<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>列表</title>
	<head th:include="include :: header"></head>
</head>
<body class="gray-bg">
	<div class="wrapper wrapper-content animated fadeInRight">
		<div class="ibox float-e-margins">
			<div class="ibox-title">
				<h5>列表</h5>
			</div>
			<div class="ibox-content">
				<div class="panel panel-default">
					<div class="panel-heading">
						查询条件
					</div>
					<div class="panel-body form-group" style="margin-bottom:0px;">
						<table id="mytab" name="mytab" class="table table-hover"></table>
						<div id="toolbar" class="btn-group pull-right" style="margin-right: 20px;">
							<button id="btn_delete1" onclick="batchCode()"  type="button" class="btn btn-primary" style="display: block;">
								<span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>新增
							</button>
							<button id="btn_delete" onclick="edit()"  type="button" class="btn btn-success" style="display: block;">
								<span class="glyphicon glyphicon-remove" aria-hidden="true" ></span>批量删除
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:include="include :: footer"></div>
	<script type="text/javascript" src="/js/appjs/generator/list.js"></script>
</body>
</html>