package ${package}.service.impl;

import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Service;
import org.springframework.transaction.annotation.Transactional;

import java.util.List;
import java.util.Map;

import ${package}.dao.${className}Dao;
import ${package}.vo.${className}Vo;
import ${package}.service.${className}Service;
import top.cflwork.common.SequenceId;


@Service
public class ${className}ServiceImpl implements ${className}Service {
	@Autowired
	private ${className}Dao ${classname}Dao;
    @Autowired
    private SequenceId sequenceId;
	@Override
    @Transactional
	public ${className}Vo get(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.get(${pk.attrname});
	}
	
	@Override
    @Transactional
	public List<${className}Vo> list(${className}Vo ${classname}Vo){
		return ${classname}Dao.list(${classname}Vo);
	}
	
	@Override
    @Transactional
	public long count(${className}Vo ${classname}Vo){
		return ${classname}Dao.count(${classname}Vo);
	}
	
	@Override
    @Transactional
	public int save(${className}Vo ${classname}){
	    ${classname}.set${pk.attrName}(sequenceId.nextId());
	    return ${classname}Dao.save(${classname});
	}
	
	@Override
    @Transactional
	public int update(${className}Vo ${classname}){
		return ${classname}Dao.update(${classname});
	}
	
	@Override
    @Transactional
	public int remove(${pk.attrType} ${pk.attrname}){
		return ${classname}Dao.remove(${pk.attrname});
	}
	
	@Override
    @Transactional
	public int batchRemove(${pk.attrType}[] ${pk.attrname}s){
		return ${classname}Dao.batchRemove(${pk.attrname}s);
	}

    @Override
    @Transactional
    public int batchSave(List<${className}Vo> ${classname}List){
			${classname}List.forEach(e -> e.set${pk.attrName}(sequenceId.nextId()));
        return ${classname}Dao.batchSave(${classname}List);
    }
}
