package ${package}.service;

import ${package}.vo.${className}Vo;

import java.util.List;
import java.util.Map;
import org.springframework.stereotype.Service;
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Service
public interface ${className}Service {
	
	${className}Vo get(${pk.attrType} ${pk.attrname});
	
	List<${className}Vo> list(${className}Vo ${classname}Vo);
	
	long count(${className}Vo ${classname}Vo);
	
	int save(${className}Vo ${classname});
	
	int update(${className}Vo ${classname});
	
	int remove(${pk.attrType} ${pk.attrname});
	
	int batchRemove(${pk.attrType}[] ${pk.attrname}s);

    int batchSave(List<${className}Vo> ${classname}List);
}
