package ${package}.vo;

import lombok.Data;

import java.io.Serializable;
#if(${hasBigDecimal})
#end
import io.swagger.annotations.ApiModelProperty;
import top.cflwork.common.Pager;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Data
public class ${className}Vo implements Serializable {
	private static final long serialVersionUID = 1L;
	#foreach ($column in $columns)
		@ApiModelProperty("$column.comments")
		private $column.attrType $column.attrname;
	#end
	@ApiModelProperty("分页对象")
	private Pager pager;
}
